.buy-now
  font-size 16px
  font-weight 700
  margin-right 10px

.fa-shopping-cart
  margin-right 10px

.btn
  border-radius 28px
  font 700 0.8vw 'Montserrat'
  @media (max-width: 622px)
    font-size 1.3vw
  background-color white
  cursor pointer
  &-transparent
    background-color transparent
    border 2px solid #3b3b3b
    color #ffffff


.hamburger
  position relative
  top -6px
  background none
  color #fff
  border:0
  font-size:1.2em
  font-weight:bold
  cursor:pointer
  outline:none
  z-index:10

.cross
  background none
  position absolute
  top -7px
  right  10%
  padding-top 8px
  color #fff
  border 0
  font-size 3em
  line-height 65px
  font-weight bold
  cursor pointer
  outline none
  z-index 10

