/* Pulse */
@media (min-width:768px)
  @-webkit-keyframes hvr-pulse
    25%
      -webkit-transform: translate(0, -50%) scale(1.1);
      transform: translate(0, -50%) scale(1.1);

    75%
      -webkit-transform: translate(0, -50%) scale(0.9);
      transform: translate(0, -50%) scale(0.9);

  @keyframes hvr-pulse
      25%
        -webkit-transform: translate(0, -50%) scale(1.1);
        transform: translate(0, -50%) scale(1.1);

      75%
        -webkit-transform: translate(0, -50%) scale(0.9);
        transform: translate(0, -50%) scale(0.9);

@media (min-width: 768px) and (max-width: 1200px)
  @-webkit-keyframes hvr-pulse
    25%
      -webkit-transform: translate(0, -50%) scale(.8);
      transform: translate(0, -50%) scale(.8);

    75%
      -webkit-transform: translate(0, -50%) scale(0.6);
      transform: translate(0, -50%) scale(0.6);

  @keyframes hvr-pulse
    25%
      -webkit-transform: translate(0, -50%) scale(.8);
      transform: translate(0, -50%) scale(.8);

    75%
      -webkit-transform: translate(0, -50%) scale(0.6);
      transform: translate(0, -50%) scale(0.6);


.hvr-pulse
  div
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active
  div
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

// hvr-underline-from-left

.hvr-underline-from-left
  display inline-block
  vertical-align middle
  -webkit-transform perspective(1px) translateZ(0)
  transform perspective(1px) translateZ(0)
  box-shadow 0 0 1px transparent
  position relative
  overflow hidden

  &:before
    content ""
    position absolute
    z-index -1
    left: 0
    right 100%
    bottom 0
    background #fff
    opacity 0.3
    height 1px
    -webkit-transition-property right
    transition-property right
    -webkit-transition-duration: 0.3s
    transition-duration 0.3s
    -webkit-transition-timing-function ease-out
    transition-timing-function ease-out

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before
  right 0


.rotate
  &:hover
    img
      transform rotate(360deg)
      transition 1s

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out
  div
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    top -8px
    width 12px
    height 12px
    background-color #ffffff
    border-radius 50%
    p
      height 100%
      width 100%
      border: solid red 3px;
      border-radius 50%


.hvr-ripple-out
  div:before
    content: '';
    position: absolute;
    border: solid red 3px;
    border-radius 50%
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;


.hvr-ripple-out:hover,
.hvr-ripple-out:focus,
.hvr-ripple-out:active
  div:before
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
    animation-iteration-count: infinite;


// puls for "good-signal image"

@keyframes pulse
  25%
    -webkit-transform scale(1.1)
    transform  scale(1.1)

  75%
    -webkit-transform  scale(0.9)
    transform scale(0.9);

.pulse:hover,
.pulse:focus,
.pulse:active
  img
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

/* Wobble Top */
@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.hvr-wobble-top:hover,
.hvr-wobble-top:focus,
.hvr-wobble-top:active
  img
    -webkit-animation-name: hvr-wobble-top;
    animation-name: hvr-wobble-top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;


/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active
  img
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;





@-webkit-keyframes jump {
  0%{
    -webkit-transform: rotate(-90deg) translateX(0);
    transform: rotate(-90deg) translateX(0);
  }
  20%{
    -webkit-transform: rotate(-90deg) translateX(0);
    transform: rotate(-90deg) translateX(0);
  }
  40%{
    -webkit-transform: rotate(-90deg) translateX(-30px);
    transform: rotate(-90deg) translateX(-30px);
  }
  50%{
    -webkit-transform: rotate(-90deg) translateX(0);
    transform: rotate(-90deg) translateX(0);
  }
  60%{
    -webkit-transform: rotate(-90deg)  translateX(-15px);
    transform: rotate(-90deg)  translateX(-15px);
  }
  80%{
    -webkit-transform: rotate(-90deg) translateX(0);
    transform:rotate(-90deg) translateX(0);
  }
  100%{
    -webkit-transform:rotate(-90deg) translateX(0);
    transform:rotate(-90deg) translateX(0);
  }
}

@keyframes jump {
  0%{
    transform: rotate(-90deg) translateY(0);
  }
  20%{
    transform: rotate(-90deg) translateY(0);
  }
  40%{
    transform: rotate(-90deg) translateX(-30px);
  }
  50%{
    transform: rotate(-90deg) translateX(0);
  }
  60%{
    transform: rotate(-90deg) translateX(-15px);
  }
  80%{
    transform: rotate(-90deg) translateX(0);
  }
  100%{
    transform: rotate(-90deg) translateX(0);
  }
}

