.menu
  z-index 10
  font-weight bold
  ont-size 0.8em
  width 100%
  background #ff6470
  position absolute
  text-align center

.menu ul
  margin  0

.menu li
  display block
  padding 15px 0 15px 0
  border-bottom #a5001b 1px solid
  &:hover
    background #8e0c13

.menu a
  text-decoration none
  color white
  &:hover
    text-decoration none
    color white