@import "nib"
@import "_buttons.styl"
@import "_keyframes.styl"
@import "_menu.styl"


body
  font-family 'Montserrat'

h1
  font-size 4.5vw
  font-weight 400
  @media (max-width: 768px)
    font-size 8vw

h2,
.h2
  font-size 3vw
  font-weight 700
  @media (max-width: 768px)
    font-size 5vw
h3
  font-size 2.5vw
  font-weight 700
  @media (max-width: 768px)
    font-size 4vw
  @media (max-width: 568px)
    font-size 6vw
a
  color #000000
  &:hover,
  &:active,
  &:focus
    text-decoration none
    color #000000

.display-none
  display none

.margin-none
  margin 0

.flex
  display flex

.gray-text
  font 400 2vh 'Montserrat'
  color #92a1a5

.text-black
  color #000000

.text-ocean
  color #318f76

.bg-dark
  background-color #232323

.red-section
  background-color #ff343d

.background-gray
  background-color #eff2f6
  position relative

.background-dark-gray
  background-color #232323

.background-light-gray
  background-color #f8f9fb

.welcome-section
  position relative
  margin 0
  height 100vh

.full-height
  height 100%

.padding-left-right-none
  padding-left 0
  padding-right 0

.header
  width 100%
  position absolute
  margin-top 22px
  z-index 1
  @media (min-width: 576px)
    margin-top 32px
  @media (min-width: 768px)
    margin-top 42px
  @media (min-width: 992px)
    margin-top 52px
  @media (min-width: 1200px)
    margin-top 62px

.logo
  span
    font 700 140% 'Montserrat'

.phone
  margin-left 75px
  &:hover
    color #ff343d
  @media (max-width: 768px)
    font-size 20px
    margin 3px 0 0 10px
  span
    margin-top -10px
    @media (max-width: 768px)
      display none

.logo-phone
  margin-left 10%

.buy-menu
  margin-right 10%

.slider
  position relative
  width 100%
  margin auto 0
  margin-left 18%
  @media (max-width: 768px)
    margin 19% 0 0 25%

ul
  list-style none
  padding 0

.slider-content
  width 70%
  list-style none
  padding 0
  h2
    margin-bottom 9%
  @media (max-width: 768px)
    h2
      margin-bottom 10px
  @media (max-width: 400px)
    margin-left 8%
    margin-top 15%

.slider-dots
  z-index 1
  position absolute
  top 40%
  left 15%
  margin-right 3%
  li
    color #e1e1e1
    font-size .8vw
    &:hover
      color #ff343d
      cursor pointer
  @media (max-width: 768px)
    left 20%
    top 30vmin
    li
      font-size 1.5vw
  @media (max-width: 400px)
    li
      font-size 2vw

.scroll-down:after
  content "Scroll down"
  position absolute
  font-weight 700
  top 85%
  left 15%
  transform rotate(-90deg)
  -webkit-animation: jump 1.5s ease 0s infinite normal ;
  animation: jump 1.5s ease 0s infinite normal ;

.mars-text:after
  content "MARS"
  color #ff343d
  opacity 0.3
  text-shadow 0 2px 30px rgba(0, 1, 1, 0.15)
  font-size 15vw
  font-weight 700
  transform rotate(90deg)
  position absolute
  right -27%
  top 30%

.half-drone
  width 88%

.road
  width 100%

.tap-to-fly-section
  background #f8f9fb url("../img/half-drone.png") no-repeat
  background-size cover
  height 100%
  transition 2s
  @media (max-width: 768px)
    padding 30% 0 30%
    background-position center
    background-position-x -4%
  div
    z-index 2
    span
      margin-left 2%
      font-size 0.9vw
      @media (max-width: 768px)
        font-size 1.8vw
        margin 0 auto
    margin auto 0
    margin-left 27%
    @media (max-width: 768px)
      margin auto auto

  &:after
    transition 2s
    content ""
    position absolute
    top 50%
    transform translate(0, -50%) scale(0.7)
    right -10px
    height 150px
    width 75px
    border-radius 150px 0 0 150px
    background-color #e8ecf1
    box-shadow 0 0 0 40px #eef1f5, 0 0 0 75px #f4f6f9
    @media (min-width: 576px)
      transform translate(0, -50%) scale(1)
      right 0
    @media (min-width: 768px)
      transform translate(0, -50%) scale(.7)
      right -10px
    @media (min-width: 1200px)
      transform translate(0, -50%) scale(1)

  &:hover:after
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

.drone
  position absolute
  height 600px
  width 600px
  &:before
    content ''
    position absolute
    height 600px
    width 600px
    background url("../img/drone.png") no-repeat center
    display none
    @media (min-width: 768px)
      display block
      background-size 70%
    @media (min-width: 992px)
      background-size 80%
    @media (min-width: 1200px)
      background-size 100%

.fly-higher-section
  background url("../img/road.png") no-repeat
  background-size cover
  position relative
  transition 2s
  button
    transition 2s
    transform rotate(-90deg)
    margin 0 0 9% 35%

  .dark-section
    transition 2s
    background-color rgba(0, 0, 0, 0.65)
    width 44%
    height 100%
    padding 18% 5%
    &:after
      content ""
      height 1px
      width 23%
      background-color #ffffff
      position absolute
      top 90%
      left 73.5%
      transition 2s
      transform rotate(90deg)
      opacity 0.6

  &:hover
    .dark-section
      transition 2s
      width 60%
      &:after
        content ""
        height 1px
        width 10%
        background-color #ffffff
        position absolute
        top 53%
        left 60%
        transition 2s
        opacity 0.6
        transform rotate(360deg)
    button
      transform rotate(360deg)
      transition 2s
      margin-top 5%
      margin-left 11%

.features-section
  padding 5% 0
  h3
    margin-bottom 5%
  div
    img
      margin-bottom  25px
      transition 2s

.controller
  img
    width 100%

.new
  &-gen
    position relative
    padding 5% 5%
    background url('../img/liner-copter.png') #232323 no-repeat
    background-size 30%
    background-position right center
    button
      margin-top 4%

  &-f
    padding 12% 0 12% 10%
    button
      margin-top 4%
    @media (max-width: 768px)
      padding 5% 5%

.nf-toggle-text,
.ng-toggle-text,
.j-toggle-text
  display none
  font-size 1.2vw
  @media (max-width: 768px)
    font-size 2.4vw

.new-f-img
  max-height 700px
  padding  5% 0 5% 0
  overflow hidden
  img
    height 70vh

.journey-section
  height 100vh
  padding 40% 10% 20%
  background url("../img/boats.png") no-repeat
  overflow hidden
  background-size cover
  transition 2s
  button
    margin 4% 0

footer
  margin 4% 0
  position relative
  size 100%
  &:after
    content "PHANTOM"
    text-shadow: 1px 1px 70px rgba(0, 0, 0, 0.1);
    color: #fff
    opacity 0.3
    font-size 10vw
    font-weight 700
    position absolute
    left 23%
    z-index -1
    @media (max-width: 768px)
      top 10%

.logo-rights
  margin 5% 0
  z-index 2
  p
    margin-top 1%